:workers: 15
:logger:
    :output: stdout
    :level: info
:redis:
    :host: your_host.tdl
    :port: 1234
    :password: configured_from_redis_conf
    :thread_safe: true
:amazon:
    :redis:
        :asin:
            :unvisited: asin:unvisited
            :visited: asin:visited
        :href:
            :unvisited: href:unvisited
            :visited: href:visited
            :high_water_mark: 5000
        :reviews:
            :intransit: reviews:intransit
