:workers: 4
:profile: false
:logger:
    :output: stdout
    :level: info
:redis:
    :host: localhost
    :port: 2345
    :password: some_complicated_thing
    :thread_safe: true
:database:
    :adapter: postgres
    :host: localhost
    :database: crawler
    :username: crawler
    :password: some_complicated_password
:amazon:
    :redis:
        :asin:
            :unfiltered: asin:unfiltered
            :unvisited: asin:unvisited
            :visited: asin:visited
        :href:
            :unvisited: href:unvisited
            :visited: href:visited
            :high_water_mark: 5000
        :reviews:
            :intransit: reviews:intransit
