<html>
    <head>
        <title>Amazon Crawler</title>
    </head>
    <body>
        <h1>Amazon Crawler Status</h1>
        <table>
            <tr>
                <th>Group</th>
                <th>Key</th>
                <th>Size</th>
            </tr>
            <tr>
                <td>Products</td>
                <td>Unvisited</td>
                <td><%= @products_unvisited_count %>
            </tr>
            <tr>
                <td></td>
                <td>Visited</td>
            </tr>
            <tr>
                <td>Pages</td>
                <td>Unvisited</td>
            </tr>
            <tr>
                <td></td>
                <td>Visited</td>
            </tr>
        </table>
    </body>
</html>